/* Text Colors */
.text-primary { color: var(--text-primary);}
.text-secondary { color: var(--text-secondary);}
.text-tertiary { color: var(--text-tertiary);}
.text-button { color: var(--text-button);}
.text-button-hover { color: var(--text-button-hover);}
.text-button-active { color: var(--text-button-active);}
.text-button-secondary { color: var(--text-button-secondary);}
.text-button-secondary-hover { color: var(--text-button-secondary-hover);}
.text-button-secondary-active { color: var(--text-button-secondary-active);}
.text-button-success { color: var(--text-button-success);}
.text-button-success-hover { color: var(--text-button-success-hover);}
.text-button-success-active { color: var(--text-button-success-active);}
.text-button-info { color: var(--text-button-info);}
.text-button-info-hover { color: var(--text-button-info-hover);}
.text-button-info-active { color: var(--text-button-info-active);}
.text-button-warning { color: var(--text-button-warning);}
.text-button-warning-hover { color: var(--text-button-warning-hover);}
.text-button-warning-active { color: var(--text-button-warning-active);}
.text-button-danger { color: var(--text-button-danger);}
.text-button-danger-hover { color: var(--text-button-danger-hover);}
.text-button-danger-active { color: var(--text-button-danger-active);}
.text-navbutton { color: var(--text-navbutton);}
.text-navbutton-hover { color: var(--text-navbutton-hover);}
.text-navbutton-active { color: var(--text-navbutton-active);}
.text-input { color: var(--text-input);}
.text-input-focus { color: var(--text-input-focus);}
.text-input-hover { color: var(--text-input-hover);}
.text-checkbox-selected-enabled { color: var(--text-checkbox-selected-enabled);}
.text-checkbox-selected-hover { color: var(--text-checkbox-selected-hover);}
.text-checkbox-selected-active { color: var(--text-checkbox-selected-active);}
.text-checkbox-unselected-enabled { color: var(--text-checkbox-unselected-enabled);}
.text-checkbox-unselected-hover { color: var(--text-checkbox-unselected-hover);}
.text-checkbox-unselected-active { color: var(--text-checkbox-unselected-active);}

/* Background Colors */
.bg-body { background-color: var(--bg-body);}
.bg-window { background-color: var(--bg-window);}
.bg-button { background-color: var(--bg-button);}
.bg-button-hover { background-color: var(--bg-button-hover);}
.bg-button-active { background-color: var(--bg-button-active);}
.bg-button-secondary { background-color: var(--bg-button-secondary);}
.bg-button-secondary-hover { background-color: var(--bg-button-secondary-hover);}
.bg-button-secondary-active { background-color: var(--bg-button-secondary-active);}
.bg-success-hover { background-color: var(--bg-success-hover);}
.bg-success-active { background-color: var(--bg-success-active);}
.bg-info-hover { background-color: var(--bg-info-hover);}
.bg-info-active { background-color: var(--bg-info-active);}
.bg-warning-hover { background-color: var(--bg-warning-hover);}
.bg-warning-active { background-color: var(--bg-warning-active);}
.bg-danger-hover { background-color: var(--bg-danger-hover);}
.bg-danger-active { background-color: var(--bg-danger-active);}
.bg-navbutton { background-color: var(--bg-navbutton);}
.bg-navbutton-hover { background-color: var(--bg-navbutton-hover);}
.bg-navbutton-active { background-color: var(--bg-navbutton-active);}
.bg-input { background-color: var(--bg-input);}
.bg-input-focus { background-color: var(--bg-input-focus);}
.bg-input-hover { background-color: var(--bg-input-hover);}
.bg-checkbox-selected-enabled { background-color: var(--bg-checkbox-selected-enabled);}
.bg-checkbox-selected-hover { background-color: var(--bg-checkbox-selected-hover);}
.bg-checkbox-selected-active { background-color: var(--bg-checkbox-selected-active);}
.bg-checkbox-unselected-enabled { background-color: var(--bg-checkbox-unselected-enabled);}
.bg-checkbox-unselected-hover { background-color: var(--bg-checkbox-unselected-hover);}
.bg-checkbox-unselected-active { background-color: var(--bg-checkbox-unselected-active);}

/* Border Colors */
.border-body { border-color: var(--border-body);}
.border-window { border-color: var(--border-window);}
.border-button { border-color: var(--border-button);}
.border-button-hover { border-color: var(--border-button-hover);}
.border-button-active { border-color: var(--border-button-active);}
.border-button-secondary { border-color: var(--border-button-secondary);}
.border-button-secondary-hover { border-color: var(--border-button-secondary-hover);}
.border-button-secondary-active { border-color: var(--border-button-secondary-active);}
.border-button-success { border-color: var(--border-button-success);}
.border-button-success-hover { border-color: var(--border-button-success-hover);}
.border-button-success-active { border-color: var(--border-button-success-active);}
.border-button-info { border-color: var(--border-button-info);}
.border-button-info-hover { border-color: var(--border-button-info-hover);}
.border-button-info-active { border-color: var(--border-button-info-active);}
.border-button-warning { border-color: var(--border-button-warning);}
.border-button-warning-hover { border-color: var(--border-button-warning-hover);}
.border-button-warning-active { border-color: var(--border-button-warning-active);}
.border-button-danger { border-color: var(--border-button-danger);}
.border-button-danger-hover { border-color: var(--border-button-danger-hover);}
.border-button-danger-active { border-color: var(--border-button-danger-active);}
.border-input { border-color: var(--border-input);}
.border-input-focus { border-color: var(--border-input-focus);}
.border-input-hover { border-color: var(--border-input-hover);}
.border-checkbox-selected-enabled { border-color: var(--border-checkbox-selected-enabled);}
.border-checkbox-selected-hover { border-color: var(--border-checkbox-selected-hover);}
.border-checkbox-selected-active { border-color: var(--border-checkbox-selected-active);}
.border-checkbox-unselected-enabled { border-color: var(--border-checkbox-unselected-enabled);}
.border-checkbox-unselected-hover { border-color: var(--border-checkbox-unselected-hover);}
.border-checkbox-unselected-active { border-color: var(--border-checkbox-unselected-active);}

